.hero-section {
  margin-top: 9px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__text {
    &-list {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-left: 18px;

      &-item {
        color: #000;
        font-family: Orbitron, 'sans-serif';
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    font-family: Orbitron, 'sans-serif';
    font-size: 130px;
    font-weight: 800;
    letter-spacing: 13px;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    &-logo {

    }
  }
}