.header {
  padding: 30px 0;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

    &-item-link {
      text-decoration: none;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 24px;

    &__button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
.burger-menu-toggle {
  display: none;
}

@media (max-width: 480px) {
  .header {
    &-logo {
      text-align: center; // Логотип по центру
      order: 2; // Порядок элемента внутри контейнера
    }
    &-nav {
      display: none; // Скрываем навигацию на маленьких экранах
      order: 1; // Порядок элемента внутри контейнера
    }
    &-actions {
      order: 3; // Порядок элемента внутри контейнера
      & button:nth-child(1) {
        display: none;
      }
    }
  }
  .burger-menu-toggle {
    display: block; // Показываем переключатель бургер-меню на маленьких экранах
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .burger-menu-open .header-nav,
  .burger-menu-open .header-logo,
  .burger-menu-open .header-actions {
    display: flex;
    flex-direction: column;
  }

  .burger-menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu-open .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}